# Build artifacts
build/
install/
log/

# Python
__pycache__/
*.py[cod]
*.egg-info/
.eggs/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

#exel
Centre of mass calculator 2024*

noncodeinfo/
multidata/

flowcharts/
check/